:root {
    --primary-color: #575757;
    --secondary-color: #2c2c2c;
    --text-color: white;
    --accent-color: #4b85e9;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

nav ul {
    display: flex;
    gap: 16px;
}

nav {
    background-color: var(--primary-color);
    flex: 0 0 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    background-color: var(--secondary-color);
    flex: 1;
}

.chart-div {
    margin: 16px auto 0;
    width: min(600px, 90%);
}

section {
    margin: 16px auto 0;
    width: min(90vw, 800px);
}

section:first-child {
    margin-top: 32px;
}

footer {
    background-color: var(--primary-color);
    flex: 0 0 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

caption {
    font-weight: 700;
}


td,
th {
    border: 1px solid #282828;
    padding: 10px 20px;
}

table {
    margin: 16px auto 0;
    border-collapse: collapse;
    border: 2px solid #030303;
    letter-spacing: 1px;
    font-size: 0.8rem;
}

th {
    background-color: #4f4f4f;
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: #a3a3a3;
}

tr:nth-child(odd) td {
    background-color: #797979;
}

caption {
    padding: 10px;
}